[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = YanUSoLo
[user]
	email = yannusovich@gmail.com
[core]
	excludesfile = ~/.gitexcludes
	excludesfile = ~/.gitignore

